<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" />

    <title>Twit Analizi</title>

    <style>
        .divHeader {
            width: 90%;
            height: 90%;
            background-image: url("../images/header.png");
        }

        .txtHeader {
            font-family: Verdana, sans-serif;
        }

        .searchBox {
            width: 60%;
            height: 50px;
        }

        .searchBtn {
            width: 5%;
            height: 50px;
        }
    </style>
</head>

<body bgcolor="#d8e2e8">
    <center>
        <div class="divHeader">
            <h1 class="txtHeader">Twit Analizi</h1>
            <h5 class="txtHeader">İstediğiniz kelimeleri içeren twitlerin pozitifliğini görün!</h5>
        </div>

        <div>
            <input class="searchBox" type="text" placeholder="Bir kelime girin...">
            <button class="searchBtn" type="button">Analiz Et!</button>
        </div>
    </center>
</body>
</html>
