<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" />

    <title>Twit Analizi</title>
</head>

<body bgcolor="#d8e2e8">
        <center>
            <div>
                <h1>Twit Analizi</h1>
			    <h2>İstediğiniz kelimeleri içeren twitlerin pozitifliğini görün!</h2>
            </div>
        </center>
</body>
</html>
