<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" />

    <title>Sosyal Medya Analiz Robotu</title>
</head>

<body bgcolor="#d8e2e8">
        <center>
            <div style="background: url('../templates/header.png');">
                <h1>Akıllı Twit Analiz Robotu</h1>
			    <h2>Dilediğiniz ürünü girin, Twitter'daki imajını görün.</h2>

            </div>
        </center>

        <div>
            <p><b><a class="btn btn-lg btn-success" href="showSignUp" role="button">Arama Motoru:</a>
            </p>
            <p><b>Search</b></p>
            <a>Deneme</a>
        </div>
</body>
</html>
